/* Body & App Component Styles */
body {
     position: relative;
     padding: 0;
     margin: 0;
     width: 100%;
     height: 100vh;
}

.appDiv1 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     background-size: cover;
}

#appDiv2 {
     position: absolute;
     min-width: 100%;
     height: 100%
}

#backgroundImage {
     max-width: 100vw;
     position: absolute;
     animation-name: ani;
     animation-duration: 15s;
     animation-iteration-count: 1;
}

@keyframes ani {
     from {
          width: 90%;
     }

     to {
          width: 100%;
     }
}

/* NavBar Component Style */
.navBar {
     background: linear-gradient(93deg, #d092f7, #f4f4f9, #75f1e6);
     color: black
}

a {
     text-decoration: none;
     color: black;
}

.logo {
     max-height: 30vw;
     max-width: 30vw
}

/* ShowDetails Component Styles */
#mainDiv_Demo {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: auto;
     width: 50vw
}

#firstChidrenDiv_Demo {
     flex: 1 1 270px;
     margin: 30px
}

#secondChidrenDiv_Demo {
     flex: 1 1 270px;
     height: max-content;
     margin: 30px;
     text-align: center;
     background: #f6eaf7
}

/* Margin Div */
.container {
     margin: 10px 30px;
}